# {{ ansible_managed }}

cluster.name: {{ elasticsearch_cluster_name }}
node.name: {{ elasticsearch_node_name }}

# Path to directory where to store the data (separate multiple locations by comma):
path.data: /var/lib/elasticsearch

# Path to log files:
path.logs: /var/log/elasticsearch

# Set the bind address to a specific IP (IPv4 or IPv6):
network.host:
{% for host in elasticsearch_network_hosts %}
  - {{ host }}
{% endfor %}

# The network address(es) to which the node should bind in order to listen for incoming connections
network.bind_host:
{% for host in elasticsearch_bind_host %}
  - {{ host }}
{% endfor %}

# Set a custom port for HTTP:
http.port: {{ elasticsearch_http_port }}

# Transport port
transport.port: {{ elasticsearch_transport_port }}

# Pass an initial list of hosts to perform discovery when this node is started:
discovery.seed_hosts:
{% for host in elasticsearch_seed_hosts %}
  - {{ host }}
{% endfor %}

# Bootstrap the cluster using an initial set of master-eligible nodes:
cluster.initial_master_nodes:
{% for host in elasticsearch_initial_master_nodes %}
  - {{ host }}
{% endfor %}

node.data: {{ elasticsearch_node_data }}
node.master: {{ elasticsearch_node_master }}

bootstrap.memory_lock: {{ elasticsearch_memory_lock }}

action.auto_create_index: {{ elasticsearch_auto_create_index }}

{% if elasticsearch_enable_basic_xpack_license %}
xpack.license.self_generated.type: basic
{% endif %}
